body{
    background: #173F5F; 
    color: white;
}
.container{
    display: flex;
    justify-content: center;
}
.formHolder{
    margin-top: 10vh;
    width: 35vw;
}
img{
    display: flex;
    margin: auto;
    padding-top: 20px;
}